.saint-valentin-container {
  position: relative;
  width: 100%;
  height: 65vh;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
}

.flower {
  position: absolute;
  transform: translateY(0) scale(0);
  animation-name: growUp;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  z-index: 10;
}

@keyframes growUp {
  0% { transform: translateY(0) scale(0); opacity: 0; }
  50% { transform: translateY(-50%) scale(1.1); opacity: 0.8; }
  100% { transform: translateY(-70%) scale(1); opacity: 1; }
}

/* TEXTE SVG JOYEUSE SAINT-VALENTIN */
.valentine-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.valentine-svg text {
  fill: none;
  stroke: #ff88c2;
  stroke-width: 1.5;
  font-size: 3.5rem;
  font-family: 'Pacifico', cursive; /* font mignonne et ronde */
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: drawText 4s forwards, bounceText 2s ease-in-out infinite alternate;
  filter: drop-shadow(0 0 8px #ff88c2) drop-shadow(0 0 12px #ffb6e5);
}

/* animation pour dessiner le texte */
@keyframes drawText {
  to { stroke-dashoffset: 0; }
}